.brands {
  color:#313437;
  background-color:#fff;
}

.brands a {
  display:block;
  text-align:center;
  padding:40px 0;
}

@media (max-width:767px) {
  .brands a {
    padding:30px 0;
  }
}

.brands a img {
  display:inline-block;
  margin:10px 20px;
  vertical-align:middle;
}

.navbar.navbar-default.navigation-clean {
  background-color:#053244;
  color:white;
}

.btn.btn-default.btn-primary.add-docs {
  margin:10px;
}

#heroWebApp {
  margin-top:0;
}

#signup-header {
  padding-bottom:0px;
}

#app-header {
  padding-top:42px;
}

.progress-icon {
  font-size:30px;
  color:blue;
}

#header-search-results {
  padding-bottom:0px;
}

#show-more {
  text-align:center;
  padding-top:20px;
  padding-bottom:20px;
}

